body{
    width: 90%;
    margin: 80px auto;
    border: 2px solid black;
}

header{
    margin: 80px;
}

main{
    margin: 80px;
}

hr{
    border: 1px solid black;
    width: 70%;
    margin-left: 0px;
}

h1{
    font-size: 40px;
}

h2{
    color: green;
}

address{
    font-style: normal;
    font-size: 20px;
}

section{
    margin-top: 40px;
}

.section-details{
    font-size: 20px;
}

li{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: rgb(130, 130, 212);
}
