body{
    width: 90%;
    margin: 80px auto;
}

hr{
    border: 1px solid black;
    width: 70%;
    margin-left: 0px;
}

h1{
    font-size: 40px;
}

h2{
    color: green;
}

address{
    font-style: normal;
    font-size: 20px;
}

.skill-section{
    padding: 20px 0px;
}

.skills{
    font-size: 20px;
}

